/*
    text
*/

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #343a40 !important;
}

.text-ac {
  text-align: center;
}

.text-ar {
  text-align: right;
}

.text-al {
  text-align: left;
}

.text-key {
  color: blue !important;
}
